<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
  <meta charset="UTF-8">
  <title>BTSWorld-J-HOPE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <!--NAVBAR-->
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container">
      <div id="header"></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mr-auto" href="#"><img src="../assets/img/logo2a.jpg" height="40" width="50" alt="BTS"></a>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item active"><a class="nav-link" href="../index.html"><span class="fa fa-home"></span> Home</a></li>
          <!--<li class="nav-item"><a class="nav-link" href="#">Achievements</a></li>-->
          <li class="nav-item"><a class="nav-link" href="#ref">Members</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
   <!-- <div id="header">
      <a href="#" class="logo">
        <img src="../assets/img/logo2a.jpg" alt="BTS">
      </a>
      <nav>
        <ul>
          <li title="go to main page"><a href="../index.html" style="color: black;text-decoration: none">Home</a></li>
          <li title="know other members"><a href="#oth" style="color: black;text-decoration: none">Members</a></li>
        </ul>
      </nav>
    </div>-->
    <br>
    <h1>Jung Ho-seok-J-HOPE</h1>
    <div>
      <div class="idolintro">
        <header style="background: #DACECE ">
          <h3>About:</h3>
        </header><br>
        <P><b>Jung Ho-seok</b>(Born February 18, 1994), better known by his stage name <b>J-Hope</b> (stylized j-hope),
          is a South Korean <i>rapper, songwriter and record producer</i>. In 2013, J-Hope made his debut as a member of
          the South Korean <b>BTS</b>, managed under <i>Big Hit Entertainment</i>. J-Hope released his first solo
          <i><b>mixtape, Hope World</b></i>, worldwide on March 1, 2018. The album was met with a positive reception.
          His debut at number 63 (and subsequent peak at number 38) made him the highest charting solo Korean artist on
          the Billboard 200 at the time of the mixtape's release. In September 27, 2019, he released his song
          <i>”Chicken Noodle Soup” </i>featuring <b>Becky G</b>.</P>

      </div>
      <div class="table-responsive">
          <table class="table">

            <tbody>
              <tr>
                <td rowspan="6"><img src="../assets/img/jhope2.jpg" alt="JHOPE"></td>
                <td><b>Name:</b></td>
                <td>Jung Ho-seok</td>
              </tr>
              <tr>
                <td><b>Born</b></td>
                <td>February 18, 1994 <br>Gwacheon, Gyeonggi-do, South Korea</td>
              </tr>
              <tr>
                <td><b>Occupation:</b></td>
                <td>Rapper,singer,song writer,dancer,record producer</td>
              </tr>
              <tr>
                <td><b>Years-active:</b></td>
                <td>2012-present</td>
              </tr>
              <tr>
                <td><b>Awards:</b></td>
                <td>ROK Order of Cultural Merit Hwa-gwan (5th Class) ribbon.PNG Hwagwan Order of Cultural Merit (2018)
                  Musical career</td>
              </tr>
              <tr>
                <td><b>Music Genres:</b></td>
                <td>Hip hop,K-pop</td>
              </tr>
            </tbody>
          </table>
       </div>
  
    <div>
      <div id="begin">
        <header style="background: #DACECE ">
          <h3>Career:</h3>
        </header><br>
        <p>On June 13, 2013, <b>J-Hope</b> made his debut as a member of <b>BTS </b>on <i>Mnet's M! Countdown</i> with
          the track <i>"No More Dream"</i> from their debut single album <i>2 Cool 4 Skool</i>.He was the third member
          to join the group as a trainee after <i>RM and Suga</i>.<b>J-Hope</b> has since been involved in the creation
          process of every album in BTS' discography.

          On June 14, 2019,<i> J-Hope</i>, together with fellow BTS member <b>V</b>, collaborated with <i><b>Zara
              Larsson</b></i> on a soundtrack called <i>A Brand New Day</i> for a mobile game BTS World.</p>
      </div>
    </div>
    <div>
      <div id="works">
        <h2>Filmography</h2>

        <h3>Television</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>

            <th>Title</th>
            <th>Role</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>Inkigayo</td>
            <td>Host</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>Show! Music Core</td>
            <td>Host</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>M Countdown</td>
            <td>Host</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Under Nineteen</td>
            <td>Himself</td>
            <td>2019</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="ref">
      <div id="oth">
        <h2 style="margin-left: 30px ; margin-top: 20px;">Other Members</h2>
      </div>
      <div class="contain" style="padding-left: 50px">
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/RM.jpg" alt="RM">
            <div class="preview">
              <a href="rm.html">
                <div class="data">
                  <h5>The Rap Master</h5>
                  <p>Click to know more about RM</p>
                </div>
              </a>
            </div>
            <h4>Kim Nam-Joon</h4>
            <h4>RM</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/JIN4.jpg" alt="Jin">
            <div class="preview">
              <a href="jin.html">
                <div class="data">
                  <h5>SEOK-JIN</h5>
                  <p>Click to know more about JIN</p>
                </div>
              </a>
            </div>
            <h4>Kim Seok-jin</h4>
            <h4>Jin</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/SUGA.jpg" alt="Suga">
            <div class="preview">
              <a href="suga.html">
                <div class="data">
                  <h5>YOON-GI</h5>
                  <p>Click to know more about SUGA</p>
                </div>
              </a>
            </div>
            <h4>Min Yoon-gi</h4>
            <h4>Suga</h4>
          </div>
        </div>
      </div>
      <div class="contain" style="padding-left: 50px">
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/IN1A.jpg" alt="Jimin">
            <div class="preview">
              <a href="jimin.html">
                <div class="data">
                  <h5>PARK JMIIN</h5>
                  <p>Click to know more about JMIIN</p>
                </div>
              </a>
            </div>
            <h4>Park Jimin</h4>
            <h4>Jimin</h4>
          </div>
        </div>

        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/TAE.jpg" alt="Kim Taehyung">
            <div class="preview">
              <a href="v.html">
                <div class="data">
                  <h5>TAEHYUNG</h5>
                  <p>Click to know more about V</p>
                </div>
              </a>
            </div>
            <h4>Kim Taehyung</h4>
            <h4>V</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/KOOKIE.jpg" alt="Jungkook">
            <div class="preview">
              <a href="kookie.html">
                <div class="data">
                  <h5>JUNGKOOK</h5>
                  <p>Click to know more about KOOKIE</p>
                </div>
              </a>
            </div>
            <h4>Jeon Jeongguk</h4>
            <h4>Jungkook</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- <hr style="height: 1px;border: none;color: #333;background-color: #333;" />-->
   <footer style="background-color: #c4b6b6;color: gray ;" class="mb-0 p-3">
    <div class="row mt-3">
      <div class="col-md-6 d-flex align-items-left flex-column px-3">
        <h5 class="text-uppercase">THE BANGTAN BOYS</h5>
        <p><cite>"Your presence can give happiness. I hope you remember that."</cite>
          <strong>-JIN</strong></p>
        <p><strong>FOR ALL ARMIES-HOPE YOU LIKED IT.</strong></p>
      </div>
      <div class="col-md-4">
        <h5 style="text-transform: uppercase;"><strong>Check them out</strong></h5>
        <div class="row">
          <div class=" col-6 col-md-6">
            <ul class="list-unstyled d-inline">
              <li>
                <a href="views/rm.html" style="color:black;text-decoration: none;color: #004085;">RM</a>
              </li>
              <li>
                <a href="views/jin.html" style="color:black;text-decoration: none;color: #004085;">JIN</a>
              </li>
              <li>
                <a href="views/suga.html" style="color:black;text-decoration: none;color: #004085;">SUGA</a>
              </li>
              <li>
                <a href="views/jhope.html" style="color:black;text-decoration: none;color: #004085;">J-HOPE</a>
              </li>
            </ul>
          </div>
         <div class="col-6 col-md-6">
            <ul class="list-unstyled d-inline">
              <li>
                <a href="views/jimin.html" style="color:black;text-decoration: none;color: #004085;">JIMIN</a>
              </li>
              <li>
                <a href="views/v.html" style="color:black;text-decoration: none;color: #004085;">V</a>
              </li>
              <li>
                <a href="views/kookie.html" style="color:black;text-decoration: none;color: #004085;">JUNGKOOK</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      <div class="col-md-2 d-flex align-items-left flex-column">
        <h5><strong>MORE</strong></h5>
        <ul class="list-unstyled">
          <li>
            <a href="../index.html" style="color:black;text-decoration: none;color: #004085;">Home</a>
          </li>
          <li>
            <a href="#header" style="color:black;text-decoration: none;color: #004085;">Go To Top</a>
          </li>
          <li>
            <a href="#ref" style="color:black;text-decoration: none;color: #004085;">Members</a>
          </li>
        </ul>
      </div>
    </div>
  <!-- COPYRIGHT -->
  <div class="text-center m-3">
      Copyright&copy;2020&nbsp;All rights Reserved.
    </div>
    <div class="text-center m-3" style="color:black !important">
      <h6>Made with <i class="fa fa-heart hearticon" style="color: red;"></i> by <br> <span>Sandytrichi</span></h6>
    </div>
  </footer>  
</body>

</html>
