<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
  <title>BTSWorld-JIMIN</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 
</head>

<body>
  <!--NAVBAR-->
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mr-auto" href="#"><img src="../assets/img/logo2a.jpg" height="40" width="50" alt="BTS"></a>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home"></span> Home</a></li>
          <!--<li class="nav-item"><a class="nav-link" href="#">Achievements</a></li>-->
          <li class="nav-item"><a class="nav-link" href="#mem">Members</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
   <!-- <div id="header">
      <a href="#" class="logo">
        <img src="../assets/img/logo2a.jpg" alt="BTS">
      </a>
      <nav>
        <ul>
          <li title="go to main page"><a href="../index.html" style="color: black;text-decoration: none">Home</a></li>
          <li title="know other members"><a href="#oth" style="color: black;text-decoration: none">Members</a></li>
        </ul>
      </nav>
    </div>-->
    <br>
    <h1 id="head">Park Jim-in-JIMIN</h1>
    <div>
      <div class="idolintro">
        <header style="background: #DACECE ">
          <h3>About:</h3>
        </header><br>
        <p><i><b>Park Ji-min</b></i> (Born on October 13, 1995), better known mononymously as <b>Jimin</b>, is a South
          Korean singer, songwriter, and dancer. In 2013 he debuted as a member of the South Korean boy band <b>BTS</b>,
          under the record label <i>Big Hit Entertainment</i>.</p>
      </div>
     
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td rowspace="6"> <img src="../assets/img/JIM-IN.jpg" alt="RM"></td>
                <td><b>Name:</b></td>
                <td>Park Ji-min</td>
              </tr>
              <tr>
                <td><b>Born</b></td>
                <td>October 13, 1995<br>Geumjeong District, Busan, South Korea</td>
              </tr>
              <tr>
                <td><b>Occupation:</b></td>
                <td>Singer,songwriter,dancer</td>
              </tr>
              <tr>
                <td><b>Years-active:</b></td>
                <td>2013-present</td>
              </tr>
              <tr>
                <td><b>Awards:</b></td>
                <td>ROK Order of Cultural Merit Hwa-gwan (5th Class) ribbon.PNG Hwagwan Order of Cultural Merit (2018)
                </td>
              </tr>
              <tr>
                <td><b>Music Genres:</b></td>
                <td>K-pop,Alternative R&B</td>
              </tr>
            </tbody>
          </table>
        </div>
    <div>
      <div id="begin">
        <header style="background: #DACECE ">
          <h3>Career:</h3>
        </header><br>
        <p>On June 13, 2013, <b>Jimin</b> made his debut as a member of <b>BTS</b> with the release of the single <e>"No
            More Dream"</e>. In the group, <i>Jimin</i> holds the position of <e>vocalist and dancer</e>. Under
          <i>BTS</i>, he has released two solo tracks: <e>"Lie" and "Serendipity"</e>. The song <b>"Lie"</b> was
          released in 2016 in the album <i>Wings</i>. It was described as stunning and dramatic, conveying dark
          undertones and emotions that helped reflect the overall concept of the album.In contrast, <b>"Serendipity"</b>
          from the album <e>Love Yourself: Her</e> released in 2017 was soft and sensual, unraveling the joy,
          conviction, and curiosity of love.

          All three of Jimin's solos <i>"Serendipity", "Lie" and "Serendipity (Full Length Edition)"</i> surpassed fifty
          million streams on <b>Spotify</b>, making him the only Korean act to have three solo songs over 50 million
          streams.The songs were also the only solo songs by a BTS member in Official Chart's 20 most streamed BTS songs
          in the UK. Jimin's song <e>"Promise" (2018)</e> saw SoundCloud's Biggest 24-Hour Debut Ever, surpassing the
          record set by Drake's <e>"Duppy Freestyle"</e>, according to SoundCloud.

          In 2018, he was awarded the <b>fifth-class Hwagwan Order of Cultural Merit</b> by the President of South Korea
          along with other members of the group.
        </p>
      </div>
    </div>
    <div>
      <div id="works">
        <h2>Filmography</h2>

        <h3>Television</h3>
      </div>
      <table>
        <tbody>
          <tr>

            <th>Title</th>
            <th>Role</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>Lie #2</td>
            <td>-</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>Intro: Serendipity</td>
            <td>-</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Show! Music Core</td>
            <td>Host</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>M Countdown</td>
            <td>Host</td>
            <td>2016</td>

          </tr>
          <tr>
            <td>M Countdown</td>
            <td>Host</td>
            <td>2017</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ref">
      <div id="oth">
        <h2 style="margin-left: 30px ; margin-top: 20px;">Other Members</h2>
      </div>
      <div class="contain" style="padding-left: 50px">
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/RM.jpg" alt="RM">
            <div class="preview">
              <a href="rm.html">
                <div class="data">
                  <h5>The Rap Master</h5>
                  <p>Click to know more about RM</p>
                </div>
              </a>
            </div>
            <h4>Kim Nam-Joon</h4>
            <h4>RM</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/JIN4.jpg" alt="Jin">
            <div class="preview">
              <a href="jin.html">
                <div class="data">
                  <h5>SEOK-JIN</h5>
                  <p>Click to know more about JIN</p>
                </div>
              </a>
            </div>
            <h4>Kim Seok-jin</h4>
            <h4>Jin</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/SUGA.jpg" alt="Suga">
            <div class="preview">
              <a href="suga.html">
                <div class="data">
                  <h5>YOON-GI</h5>
                  <p>Click to know more about SUGA</p>
                </div>
              </a>
            </div>
            <h4>Min Yoon-gi</h4>
            <h4>Suga</h4>
          </div>
        </div>
      </div>
      <div class="contain" style="padding-left: 50px">

        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/JHOPE.jpg" alt="J-hope">
            <div class="preview">
              <a href="jhope.html">
                <div class="data">
                  <h5>HO-SEOK</h5>
                  <p>Click to know more about JHOPE</p>
                </div>
              </a>
            </div>
            <h4>Jung Ho-seok</h4>
            <h4>J-Hope</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/TAE.jpg" alt="Kim Taehyung">
            <div class="preview">
              <a href="v.html">
                <div class="data">
                  <h5>TAEHYUNG</h5>
                  <p>Click to know more about V</p>
                </div>
              </a>
            </div>
            <h4>Kim Taehyung</h4>
            <h4>V</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/KOOKIE.jpg" alt="Jungkook">
            <div class="preview">
              <a href="kookie.html">
                <div class="data">
                  <h5>JUNGKOOK</h5>
                  <p>Click to know more about KOOKIE</p>
                </div>
              </a>
            </div>
            <h4>Jeon Jeongguk</h4>
            <h4>Jungkook</h4>
          </div>
        </div>
      </div>
    </div>
   </div>
   <!-- <hr style="height: 1px;border: none;color: #333;background-color: #333;" />-->
   <footer style="background-color: #c4b6b6;color: gray ;" class="mb-0 p-3">
    <div class="row mt-3">
      <div class="col-md-6 d-flex align-items-left flex-column px-3">
        <h5 class="text-uppercase">THE BANGTAN BOYS</h5>
        <p><cite>"Your presence can give happiness. I hope you remember that."</cite>
          <strong>-JIN</strong></p>
        <p><strong>FOR ALL ARMIES-HOPE YOU LIKED IT.</strong></p>
      </div>
      <div class="col-md-4">
        <h5 style="text-transform: uppercase;"><strong>Check them out</strong></h5>
        <div class="row">
          <div class=" col-6 col-md-6">
            <ul class="list-unstyled d-inline">
              <li>
                <a href="views/rm.html" style="color:black;text-decoration: none;color: #004085;">RM</a>
              </li>
              <li>
                <a href="views/jin.html" style="color:black;text-decoration: none;color: #004085;">JIN</a>
              </li>
              <li>
                <a href="views/suga.html" style="color:black;text-decoration: none;color: #004085;">SUGA</a>
              </li>
              <li>
                <a href="views/jhope.html" style="color:black;text-decoration: none;color: #004085;">J-HOPE</a>
              </li>
            </ul>
          </div>
         <div class="col-6 col-md-6">
            <ul class="list-unstyled d-inline">
              <li>
                <a href="views/jimin.html" style="color:black;text-decoration: none;color: #004085;">JIMIN</a>
              </li>
              <li>
                <a href="views/v.html" style="color:black;text-decoration: none;color: #004085;">V</a>
              </li>
              <li>
                <a href="views/kookie.html" style="color:black;text-decoration: none;color: #004085;">JUNGKOOK</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      <div class="col-md-2 d-flex align-items-left flex-column">
        <h5><strong>MORE</strong></h5>
        <ul class="list-unstyled">
          <li>
            <a href="../index.html" style="color:black;text-decoration: none;color: #004085;">Home</a>
          </li>
          <li>
            <a href="#head" style="color:black;text-decoration: none;color: #004085;">Go To Top</a>
          </li>
          <li>
            <a href="#oth" style="color:black;text-decoration: none;color: #004085;">Members</a>
          </li>
        </ul>
      </div>
    </div>
  <!-- COPYRIGHT -->
  <div class="text-center m-3">
      Copyright&copy;2020&nbsp;All rights Reserved.
    </div>
    <div class="text-center m-3" style="color:black !important">
      <h6>Made with <i class="fa fa-heart hearticon" style="color: red;"></i> by <br> <span>Sandytrichi</span></h6>
    </div>
  </footer>  

</body>

</html>
