<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
  <title>BTSWorld-RM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div id="header">
      <a href="#" class="logo">
        <img src="../assets/img/logo2a.jpg" alt="BTS">
      </a>
      <nav>
        <ul>

          <li title="go to main page"><a href="../index.html" style="color: black;text-decoration: none">Home</a></li>
          <li title="know other members"><a href="#oth" style="color: black; text-decoration: none">Members</a></li>
        </ul>
      </nav>
    </div>
    <br>
    <h1>RM-The Rap Master</h1>
    <div>
      <div class="idolintro">
        <header style="background: #DACECE ">
          <h3>About</h3>
        </header><br>
        <p><i><b>Kim Nam-joon</b></i> (Born:September 12, 1994),better known by his stage name <b>RM</b> (formerly
          <i>Rap Monster</i>), is a South Korean rapper, songwriter, and record producer. He is the leader of the South
          Korean boy group <b>BTS</b>. In 2015, he released his first solo mixtape, <i><b>RM</b></i>. In October 2018,
          his second mixtape, <i><b>Mono</b></i>, was the highest charting album by a Korean soloist on the <i>Billboard
            200 chart</i>, having peaked at 26. He has recorded with artists such as <i>Wale, Younha, Warren G, Gaeko,
            Krizz Kaliko, MFBTY, Fall Out Boy, Primary, and Lil Nas X</i></p>
      </div>
      <div class="idoldata">
        <div class="imagebox">
          <div class="idolimage">
            <img src="../assets/img/rm2a.jpg" alt="RM">
          </div>
        </div>
        <div class="idoltable">
          <table>

            <tbody>
              <tr>
                <td><b>Name:</b></td>
                <td>Kim Nam-joon</td>
              </tr>
              <tr>
                <td><b>Born</b></td>
                <td>September 12,1994<br>Dongjak-gu, Seoul, South Korea</td>
              </tr>
              <tr>
                <td><b>Occupation:</b></td>
                <td>rapper,song writer,record producer</td>
              </tr>
              <tr>
                <td><b>Years-active:</b></td>
                <td>2010-present</td>
              </tr>
              <tr>
                <td><b>Awards:</b></td>
                <td>ROK Order of Cultural Merit Hwa-gwan (5th Class) ribbon.PNG Hwagwan Order of Cultural Merit (2018)
                </td>
              </tr>
              <tr>
                <td><b>Music Genres:</b></td>
                <td>K-pop,hip hop,R&B</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div id="begin">
        <header style="background: #DACECE ">
          <h3>Career</h3>
        </header><br>
        <p>In 2009, <b>RM</b> auditioned for <i>Big Deal Records</i>, passing the first round along with <i><b>Samuel
              Seo</b></i> but failing the second round as he forgot all his lyrics. However, following the audition,
          rapper <i><b>Sleepy</b></i> exchanged contact information with RM, who he later mentioned to <b>Big Hit
            Entertainment</b> producer <i><b>Pdogg</b></i>. In 2010, Sleepy contacted RM, encouraging him to audition
          for Big Hit CEO <i><b>Bang Si-hyuk</b></i>. Bang offered RM a spot at the record label, and, without his
          parents knowledge, RM accepted the offer immediately. The interaction caused <i>Bang</i> and <i>Pdogg</i> to
          start production of a hip hop group, which eventually became idol group <b>BTS</b>. RM joined Big Hit
          Entertainment shortly after at age 16. During his career as an idol, he enrolled at<i> Global Cyber
            University</i>.

          RM trained for three years with fellow rapper <i><b>Min Yoon-gi</b></i> and dancer <i><b>Jung Ho-seok</b></i>,
          who later became known as <i>Suga</i> and <i>J-Hope</i> respectively. During his three-year trainee period, RM
          performed on <b>five</b> pre-debut tracks credited to BTS in 2010 and 2011. He also worked as a songwriter for
          girl group <i><b>Glam</b></i> and helped pen their debut single, <b>"Party (XXO)"</b>, an explicitly pro-LGBTQ
          song which was praised by Billboard as <i>"one of the most forward-thinking songs out of a K-pop girl group in
            the past decade.</i>"On June 13, 2013, RM made his debut with BTS, and has since produced and written lyrics
          for a variety of tracks on all of BTS' albums. On August 29, 2013, RM performed the intro track to BTS' first
          extended play <b>O!RUL8,2?</b>, which was released as a trailer ahead of the EP's September 11 release and
          marked his first solo released collectively as <b>"BTS"</b>.</p>
      </div>
    </div>
    <div>
      <div id="works">
        <h2>Filmography</h2>

        <h3>Television</h3>
      </div>
      <table>
        <tbody>
          <tr>

            <th>Title</th>
            <th>Role</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>4things Show - Rap Monster</td>
            <td>Himself</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>Hot Brain: Problematic Men</td>
            <td>Cast member</td>
            <td>2015</td>
          </tr>
          <tr>
            <td>Inkigayo</td>
            <td>Host</td>
            <td>2015</td>
          </tr>
          <tr>
            <td>Close-up Observation Diary on Idol: Find Me</td>
            <td>Himself</td>
            <td>2016</td>

          </tr>
          <tr>
            <td>Gura-Chacha: Time Slip - New Boy</td>
            <td>Cast member</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>Inkigayo</td>
            <td>Host</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>KCON New York</td>
            <td>Host</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>M Countdown</td>
            <td>Host</td>
            <td>2017</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="ref">
      <div id="oth">
        <h2 style="margin-left: 30px ; margin-top: 20px;">Other Members</h2>
      </div>
      <div class="contain" style="padding-left: 50px">
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/JIN4.jpg" alt="Jin">
            <div class="preview">
              <a href="jin.html">
                <div class="data">
                  <h5>SEOK-JIN</h5>
                  <p>Click to know more about JIN</p>
                </div>
              </a>
            </div>
            <h4>Kim Seok-jin</h4>
            <h4>Jin</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/SUGA.jpg" alt="Suga">
            <div class="preview">
              <a href="suga.html">
                <div class="data">
                  <h5>YOON-GI</h5>
                  <p>Click to know more about SUGA</p>
                </div>
              </a>
            </div>
            <h4>Min Yoon-gi</h4>
            <h4>Suga</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/JHOPE.jpg" alt="J-hope">
            <div class="preview">
              <a href="jhope.html">
                <div class="data">
                  <h5>HO-SEOK</h5>
                  <p>Click to know more about JHOPE</p>
                </div>
              </a>
            </div>
            <h4>Jung Ho-seok</h4>
            <h4>J-Hope</h4>
          </div>
        </div>
      </div>
      <div class="contain" style="padding-left: 50px">
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/IN1A.jpg" alt="Jimin">
            <div class="preview">
              <a href="jimin.html">
                <div class="data">
                  <h5>PARK JMIIN</h5>
                  <p>Click to know more about JMIIN</p>
                </div>
              </a>
            </div>
            <h4>Park Jimin</h4>
            <h4>Jimin</h4>
          </div>
        </div>

        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/TAE.jpg" alt="Kim Taehyung">
            <div class="preview">
              <a href="v.html">
                <div class="data">
                  <h5>TAEHYUNG</h5>
                  <p>Click to know more about V</p>
                </div>
              </a>
            </div>
            <h4>Kim Taehyung</h4>
            <h4>V</h4>
          </div>
        </div>
        <div class="thumbnail">
          <div class="imgBox">
            <img src="../assets/img/KOOKIE.jpg" alt="Jungkook">
            <div class="preview">
              <a href="kookie.html">
                <div class="data">
                  <h5>JUNGKOOK</h5>
                  <p>Click to know more about KOOKIE</p>
                </div>
              </a>
            </div>
            <h4>Jeon Jeongguk</h4>
            <h4>Jungkook</h4>
          </div>
        </div>
      </div>

      <!-- <div class="home">
                    
                </div>-->

    </div>
    <hr style="height: 1px;border: none;color: #333;background-color: #333;" />
    <div class="foot" style="padding: 10px;margin: 10px ">
      <!-- Footer -->
      <footer class="page-footer pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="text-uppercase">THE BANGTAN BOYS</h5>
              <p> "Your presence can give happiness. I hope you remember that."
                <b>-JIN</b></p>


              <P><b>FOR ALL ARMIES-HOPE YOU LIKED IT.</b></p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
              <div class="vl" style="left:15%"></div>
              <!-- Links -->
              <h5 class="text-uppercase">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Know More About</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="rm.html" style="color:black;text-decoration: none;color: #004085;">RM</a>
                </li>
                <li>
                  <a href="jin.html" style="color:black;text-decoration: none;color: #004085;">JIN</a>
                </li>
                <li>
                  <a href="suga.html" style="color:black;text-decoration: none;color: #004085;">SUGA</a>
                </li>
                <li>
                  <a href="jhope.html" style="color:black;text-decoration: none;color: #004085;">J-HOPE</a>
                </li>
                <li>
                  <a href="jimin.html" style="color:black;text-decoration: none;color: #004085;">JIMIN</a>
                </li>
                <li>
                  <a href="v.html" style="color:black;text-decoration: none;color: #004085;">V</a>
                </li>
                <li>
                  <a href="kookie.html" style="color:black;text-decoration: none;color: #004085;">JUNGKOOK</a>
                </li>
              </ul>
            </div>

            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md mb-md-2 mb-2">

              <!-- Links -->
              <div class="vl"></div>
              <h5 class="text-uppercase" style="float: right;padding-right: 30px;">MORE</h5>
              <br /><br />

              <ul class="list-unstyled">
                <li>
                  <a href="../index.html" style="color:black;text-decoration: none;color: #004085;">Home</a>
                </li>
                <li>
                  <a href="#header" style="color:black;text-decoration: none;color: #004085;">Go To Top</a>
                </li>
                <li>
                  <a href="#mem" style="color:black;text-decoration: none;color: #004085;">Members</a>
                </li>


              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <div class="foot" style="margin:30px;background-color: #CEB1B1;padding: 0;">
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://btsworld.com/"> BTSWorld.com</a>
          </div>
          <!-- Copyright -->
        </div>
      </footer>
      <!-- Footer -->

    </div>

  </div>
</body>

</html>