.container{
    padding: 20px;
    margin: auto;
    width: 100%;
}
nav{
    list-style-type:none;
    margin:0;
    padding:0;
}
li{
    /* display:block; */
    color: #666;
    padding:14px 16px;
    text-decoration:none;
    /* float:left; */
}

.logo{
    float:left;
    height:50px;
}

#header{
    padding:10px 20px 50px 20px;
    border-bottom: 1px solid;
}

#background-image{
    background-image: url("../img/Optimized-BTS.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 50px;
    margin: 20px;
    color: #615553;
    margin-top: 50px;
    
}

#content{
    background-color: rgba(247, 238, 236,0.7);
    max-width:450px;
    padding: 30px 20px;
    margin-top: 50px;
}
body{
    margin: 0;
    padding: 0;
    background: #F2EAE9;
}
.contain{
    margin:auto;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
   }
   
   .contain .thumbnail{
    position: relative;
    width: 250px;
    height: 400px;
    background: #DACECE;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}
 /* ul li a{
     text-decoration: none;
     text-decoration-color: #F2EAE9;
     color: #F2EAE9;
 } */
.contain .thumbnail .imgBox{
    position: relative;
}
.contain .thumbnail .imgBox img{
    margin-top: 12px;
    max-width: 100%;
    height: auto;
    transition: transform 500ms;
}
.contain .thumbnail:hover .imgBox img{
    transform: scale(1.1);
    overflow: none;
}
.contain .thumbnail .imgBox h4{
    margin-top: 20px;
    font-size: 20px;
}
.thumbnail {
    display: inline-block;
    /* height: auto; */
    padding: 2px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 7px;
}

.contain .thumbnail .preview{
    position: absolute;
    top: 20px;
    left: 40px;
    bottom: 100px;
    right:40px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    transform: scale(0);
    transition: transform 350ms;
   
}
.contain .thumbnail:hover .preview{
    transform: scale(1);
}
.contain .thumbnail .preview .data{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.contain .thumbnail .preview .data h5{
   
    font-size: 15px;
    color: #fff;
}
.contain .thumbnail .preview .data p{
    
    font-size: 15px;
    color: #F5EDEC;
}

p{
    font-size:20px;
    font-weight: 10px;
    font-family: sans-serif;
}

button{
    text-decoration: none;
    border: none;
    color: black;
  
}

#intro{
    font-size: large;
    padding: 10px;
    margin-top: 20px;
}
.idolintro{
    font-size: large;
    padding: 10px;
    margin-top: 20px;

}

#begin{
    font-size: large;
    padding: 10px;
    margin-top: 20px;

}
table{
    border: 1px solid;
    border-collapse: collapse;
    background-color: #F5EDEC;
    width: 95%;
    padding: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 50px;
}


th,td{
    padding: 15px;
    border: 1px solid #a4a4a4;
    height: 30px;
    
}

th{
    text-align: left;
    background-color: #CAB9B6  ;
}
.idoldata{
     width: 1200px;
     min-height: 450px;
     background: #fff;
    display:flex;
    flex-direction: row;
    
       
}
.idoldata .imagebox{
    position: relative;
    width: 350px;
    height: 415px;
    background: #F7F2F2;
   display: inline-block;
   margin-right: 50px;
    margin-left: 30px;
   }
   
   .idoldata .imagebox .idolimage{
       position: relative;
       padding: 10px 15px 10px 20px;
    }
    .idoldata .idoltable table{
        width: 80%;
    }
    .idoldata .imagebox .idolimage img{
       width: 300px;
       height: 370px;
    }
    
    .ref{
        width: 95%;
        background-color: #F3EDED;
        margin: 20px;
    }
     .vl{
                border-left: 1px solid black;
                height: 200px;
                position: absolute;
                left: 30%;
                margin-left: -3px;
                top: 0;
     }
    
    @media(min-width:320px){
        .container{
            width: 320px;
            }
    }
    @media(min-width:481px){
        .container{
            width: 481px;
            }
    }
    @media (min-width:641px){
        .container{
            width: 641px;
            }
    }
    @media(min-width:961px){
        .container{
            width: 961px;
            }
    }
    @media(min-width:1000px){
        .container{
            width: 1000px;
            }
    }
     
     @media(max-width:481px){
         .idoltable{
            width: 100%;
        }
        #background-image{
            width: 92%;
        }
         h2{
            text-align: center;
        }
         
       
        
    }
   
    